@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: var(--grayish-blue);
  font-family: "Outfit", sans-serif;
}

.card__img {
  border-radius: 1rem;
  width: 28rem;
}
.card {
  background-color: var(--white);
  border-radius: 1.5rem;
  max-width: 32rem;
  max-height: 49.5rem;
  margin: 15rem auto;
  padding: 1.8rem;
}
.card__text {
  padding: 1.8rem;
}
.card__text p {
  color: var(--grayish-blue);
  font-size: 1.5rem;
  margin: 2rem 0 0 0;
  text-align: center;
}
.card__text--title {
  color: var(--dark-blue);
  font-size: 2.2rem;
  font-weight: 700;
  width: 26rem;
}
